.StreamPage-full-container {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.StreamPage-top-container {
    /*background-color: lightblue;*/
    flex: 4 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.StreamPage-top-arrowcontainer-right {
    /*background-color: gray;*/
    flex: 1 1 auto;
    display: flex;
    align-self: center;
    justify-content: flex-end
}

.StreamPage-top-arrowcontainer-left {
    /*background-color: gray;*/
    flex: 1 1 auto;
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

.StreamPage-top-streamcontainer {
    /*background-color: lightyellow;*/
    flex: 2 1 auto;
    margin-top: 15px;
}

.StreamPage-bottom-container {
    /*background-color: lightgreen;*/
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.StreamPage-bottom-sides {
    /*background-color: gray;*/
    flex: 1 1 auto;
}

.StreamPage-bottom-middle {
    /*background-color: lightyellow;*/
    flex: 1 1 auto;
}
